/* MAIN	BEGIN */

.mp_pie{
	min-width: 310px; 
	height: 400px; 
	max-width: 600px; 
	margin: 0 auto
}
.mp_pie_content{
	margin-top: 40px;
}
.wd33{
	width: 33.33%;
}
.hg1{	height: 100px;}.hg2{height: 200px;}.hg3{height: 300px;}.hg4{height: 400px;}


/* MAIN	END */